@if (isLoggedIn) {
  <app-header></app-header>
<main>
    <h1>Nuestros restaurantes</h1>
    <section>
        @for (restaurant of paginatedRestaurants; track restaurant.id) {
            <article>
                  <h3>{{ restaurant.name }}</h3>
                  <img [src]="restaurant.image" [alt]="restaurant.name">
                  <div>
                    <p>{{ restaurant.description }}</p>
                    <p>Destacados de la carta: </p>
                    <p>{{restaurant.menu}}</p>
                    <p>Aforo: {{ restaurant.capacity }} personas</p>
                    <p>{{ restaurant.price }} €/persona</p>
                    <p>Dirección: {{restaurant.address}}</p>
                    <p>Contacto: {{restaurant.contactNumber}}</p>
                  </div>
              </article>
        }
    </section>
    <div>
      <button (click)="prevPage()" [disabled]="pageIndex === 0">Anterior</button>
      <button (click)="nextPage()" [disabled]="pageIndex === 6">Siguiente</button>
    </div>
  </main>
  <app-footer></app-footer>
}
@if (!isLoggedIn) {
  <app-login></app-login>
}