<div>
    <a href="/home">
        <img src="../../../assets/svg/logo.svg" alt="logo">
    </a>
    <a href="">
        Crear evento
    </a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Explorar
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Espacios</a></li>
          <li><a class="dropdown-item" href="#">Caterings</a></li>
          <li><a class="dropdown-item" href="#">Músicos</a></li>
          <li><a class="dropdown-item" href="#">Restaurantes</a></li>
        </ul>
      </div>
</div>