main{
    width: 60%;
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    justify-content: left;
    padding-right: 30px;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 20px;
    overflow-x: hidden;
    -webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

h2{
    width: 100%;
    text-align: center;
}

h3, h4{
    width: 100%;
    margin-top: 20px;
}

input[type="radio"]{
   width: 100%;
}

section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
    border-radius: 20px;
}

#sectionForm{
    box-shadow: 0px 8px 40px rgba(148.23, 64.339, 255, 0.20);
}

#resumen{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    box-shadow: 0px 8px 40px rgba(148.23, 64.339, 255, 0.20);
    border-radius: 10px;

    div{
        width: 45%;
        margin: 0 auto;
    }

    button{
        margin-left: calc(50% - 50px);
    }
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.z-bigger {
    z-index: 100 !important;
}

.fechas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;

    h4{
        width: 40%;
    }
}


[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	padding: 20px;
	width: 20%;
	font-size: 14px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	color: var(--black);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.checkbox-tools:not(:checked) + label{
    min-height: 90px;
	background-color: var(--yellow-1);
    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
}

.checkbox-tools:checked + label{
	background-color: transparent;
    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
}

.checkbox-tools:not(:checked) + label:hover{
    box-shadow: 0px 8px 12px rgba(36, 14, 63, 0.2);
}

.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, rgba(0, 237, 90, 0.4), var(--primary-color));
	z-index: -1;
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light-green);
	color: var(--green-1);
    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
}

input[type="datetime-local"]{
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
    font-family: Lexend, sans-serif;
}

input[type="number"]{
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid var(--light-gray);
    font-family: Lexend, sans-serif;
}

button{
    width: 15%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-family: Lexend, sans-serif;
    background-color: var(--green-1);
    color: var(--dark-green);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(79, 38, 133, 0.2);
}

.space, .restaurant{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--custom-whitesmoke);
    margin-bottom: 32px;
    padding: 0px 32px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(54, 44, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
  
    h3{
      grid-row: 1/2;
      grid-column: 1 / 3;
      width: 100%;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    div{
        grid-row: 2/3;
        grid-column: 2/3;
        width: 100%;
    }

    p{
        text-align: justify;
        font-size: 14px;
    }

    img{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 280px;
        height: 150px;
        object-fit:cover;
        margin-top: 8%;
        margin-right: 16px;
      }
}

.space:hover{
    cursor: pointer;
}

.seleccionarButton{
    width: 80%;
    padding: 8px 16px;
    display: block;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-right: 20px;
}

.displayNone{
    display: none;
}

#section3, #section4, #section5, #sectionRestaurantes{
    p+div{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;

        h4{
            color: var(--dark-green);
            width: 30%;
        }

        img{
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }

    p+div:hover{
        cursor: pointer;
    }
}

.extraServices{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    gap: 10px;

    input[type="checkbox"] {
        display: none; /* Oculta el checkbox */
    }
    
    label {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s, border-color 0.3s;
    }
    
    input[type="checkbox"]:checked + label {
        background-color: var(--dark-green); /* Color de fondo cuando está seleccionado */
        color: white; /* Color del texto cuando está seleccionado */
        border-color: var(--dark-green); /* Color del borde cuando está seleccionado */
    }
    
    label:hover {
        background-color: #f0f0f0;
    }
}

.catering{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--custom-whitesmoke);
    margin-bottom: 32px;
    padding: 0px 32px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(54, 44, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
  
    h3{
      grid-row: 1/2;
      grid-column: 1/-1;
      width: 100%;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    div{
        grid-row: 2/3;
        grid-column: 1/-1;
        width: 100%;
    }

    p{
        text-align: justify;
        font-size: 14px;
    }
}


@media (max-width: 768px){
    main{
        width: 100%;
        margin-top: 100px;
    }
    form{
        width: 100%;
    }
    .checkbox-tools:checked + label,
    .checkbox-tools:not(:checked) + label{
        width: 100%;
    }
    input[type="date"]{
        width: 100%;
    }
    input[type="number"]{
        width: 80%;
    }

    button{
        width: 70%;
        margin-bottom: 30px
    }
    .space, .restaurant, .catering, .musicos{
        width: 100%;
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;

        img{
            display: none;
        }

        div{
            grid-row: 2/3;
            grid-column: 1/-1;
        }

        h1{
            width: 100%;
        }

        h3{
            height: 10px;
        }
    }
    .seleccionarButton{
        width: 100%;
    }

    #section3, #section4, #section5, #sectionRestaurantes{
        p+div{
            h4{
                width: 70%;
            }
        }
    }

    #resumen{
        text-align: left;
        div{
            width: 80%;
            margin: 0 auto;
        }
        button{
            margin-left: 15%;
        }
    }
}