<app-header></app-header>
<app-nav></app-nav>
<main>
    <h1>Nuestros espacios</h1>
    <section>
        @for (space of paginatedSpaces; track space.id) {
            <article>
                  <h3>{{ space.name }}</h3>
                  <img [src]="space.image" [alt]="space.name">
                  <div>
                    <p>{{ space.description }}</p>
                    <p>Aforo: {{ space.capacity }} personas</p>
                    <p>{{ space.price }} €/día</p>
                    <p>Dirección: {{space.address}}</p>
                    <p>Contacto: {{space.contactNumber}}</p>
                  </div>
              </article>
        }
    </section>
    <div>
      <button (click)="prevPage()" [disabled]="pageIndex === 0">Anterior</button>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  </main>