<main>
    <section class="form-section">
      <img src="/assets/svg/logo.svg" alt="logo">
      <h2>Login</h2>
      <ng-content></ng-content>
      <form [formGroup]="loginForm" (submit)="onLogin()">
        <input type="username" name="Username" placeholder="Nombre de usuario" formControlName="username">
        @if (loginForm.controls.username.invalid && submited) {
          <p class="error">{{getUsernameErrors()}}</p>
        }
        <input type="password" name="Password" placeholder="Contraseña" formControlName="password">
        @if (loginForm.controls.password.invalid && submited) {
          <p class="error">{{getPasswordErrors()}}</p>
        }
        <div class="btn-wrapper">
            <button class="btn-primary"> Entrar </button>
        </div>
      </form>
      <div class="btn-wrapper">
        
        <div class="divider">
          <div></div>
          <span>o</span>
          <div>
          </div>
        </div>
        <h3>¿No tienes cuenta?</h3>
        <button class="btn-secondary">Registrarse</button>
    </div>
    </section>
    <section class="main-section">
      <h1>Expande tu entusiasmo por los eventos</h1>
      <img src="../../../assets/svg/disco-ball-dance-svgrepo-com.svg" alt="">
    </section>
  </main>