<app-header></app-header>
    <main>
        <div>
            <section>
            <h2>Tus eventos</h2>
                @for (event of events; track event.id) {
                <app-event [event]="event"></app-event>
            }
            @empty {
                <h4>Parece que aún no has creado ningún evento.</h4>
                
            }
    </section>
</div>
<div>
    <h2>Explora nuestros servicios</h2>
    <section>
        <article class="tarjeta">
            <a routerLink="/spaces">
                <img src="/assets/icons/espacios.png" alt="espacios">
                <div>
                    <h4>Espacios</h4>
                    <p>Conoce los establecimientos que colaboran con nosotros.</p>
                </div>
            </a>
        </article>
        <article class="tarjeta">
            <a href="/caterings">
                <img src="/assets/icons/caterings.png" alt="caterings">
            <div>
                <h4>Caterings</h4>
                <p>Explora las distintas empresas de catering y las opciones gastronómicas que ofrecen.</p>
            </div>
            </a>
        </article>
        <article class="tarjeta">
            <a href="/musicians">
                <img src="/assets/icons/musicos.png" alt="musicos">
            <div>
                <h4>Músicos</h4>
                <p>Conoce a los distintos artistas y técnicos de sonido que ofrecen sus servicios en nuestros eventos.</p>
            </div>
            </a>
        </article>
        <article class="tarjeta">
            <a href="/restaurants">
                <img src="/assets/icons/restaurantes.png" alt="espacios">
            <div>
                <h4>Restaurantes</h4>
                <p>Conoce los restaurantes que colaboran con nosotros.</p>
            </div>
            </a>
        </article>
    </section>
</div>
</main>