
nav{
    display: flex;
    justify-content: left;
  }
  
  nav a{
    margin-left: 8px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid var(----yellow-3, #D2CF83);
    background: var(----yellow-2, #F7F5C3);
    text-decoration: none;
    color: var(--black);
    padding: 8px 16px;
  }
  
  nav a:hover{
    background: var(--yellow-3);
  }