<app-header></app-header>
<main>
    <h1>Nuestros músicos</h1>
    <section>
        @for (musician of paginatedMusicians; track musician.id) {
            <article>
                  <h3>{{ musician.name }}</h3>
                  <div>
                    <p>{{ musician.description }}</p>
                    <p>{{ musician.price }} €/día</p>
                    <p>Contacto: {{musician.contactNumber}}</p>
                  </div>
              </article>
        }
    </section>
    <div>
      <button (click)="prevPage()" [disabled]="pageIndex === 0">Anterior</button>
      <button (click)="nextPage()" [disabled]="pageIndex === 10">Siguiente</button>
    </div>
  </main>