<app-header></app-header>
<app-nav></app-nav>
<main>
    <h1>Nuestros caterings</h1>
    <section>
        @for (catering of paginatedCaterings; track catering.id) {
            <article>
                <a href="">
                  <h3>{{ catering.name }}</h3>
                  <div>
                    <p>{{ catering.description }}</p>
                    <p>{{ catering.price }} €/persona</p>
                  </div>
                </a>
              </article>
        }
    </section>
    <div>
      <button (click)="prevPage()" [disabled]="pageIndex === 0">Anterior</button>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  </main>