*{
    box-sizing: border-box;
    font-family: Lexend, sans-serif;
  }
  
  p{
    font-size: 14px;
  }
  
  main{
    padding: 8px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px
  }

  main>section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }
  
  article{
    display: flex;
    margin: 0 auto;
    width: 45%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--custom-whitesmoke);
    padding-bottom: 20px;
    margin-bottom: 32px;
    padding: 0px 32px 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(71, 69, 74, 0.2);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
  
    h3{
      grid-row: 1/2;
      grid-column: 1 / 3;
      width: 100%;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    div{
        grid-row: 2/3;
        grid-column: 1/3;
        width: 100%;
    }
  
  }

  section+div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:16px;
  }

  section+div button{
    border-radius: 15px;
    border: 1px solid var(----yellow-3, #D2CF83);
    background: var(----yellow-2, #F7F5C3);
    color: var(--black);
    padding: 8px 16px;
  }

  section+div button:first-of-type{
    margin-left: 20px;
  }

  section+div button:hover{
    cursor:pointer;
  }

  section+div button:disabled{
    display: none;
  }
  
  @media screen and (max-width: 768px){
    
    main {
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article{
        width: 100%;
        max-height: none;
    }

    article a{
        grid-template-columns: 1fr;
        grid-template-rows: 50px 200px;
    }

    article a div{
        grid-row: 2/3;
        grid-column: 1/3;
    }

    h1{
        width: 100%;
    }

    h3{
        height: 10px;
    }
    
  }